# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [47]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [48]:
print(hash_function('pato'))
print(hash_function('tapo'))

1807
1799

In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1')

In [51]:
df.dropna(inplace=True)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9029 entries, 26 to 11126
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 493.8+ KB
None

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [52]:
df['hash'] = df.apply(lambda row: hash_function(row['Código de país']+row['Nombre del país']+row['Región']), axis=1)
print(df.head())
df.info()

   Código de país Nombre del país                   Región   Año  CO2 (kt)  \
26            ABW           Aruba  América Latina y Caribe  1986   179,683
27            ABW           Aruba  América Latina y Caribe  1987   447,374
28            ABW           Aruba  América Latina y Caribe  1988   612,389
29            ABW           Aruba  América Latina y Caribe  1989   649,059
30            ABW           Aruba  América Latina y Caribe  1990  1.840,83

    CO2 per cápita (toneladas métricas)   hash
26                             2.868319  50928
27                             7.234964  50928
28                            10.026508  50928
29                            10.634733  50928
30                            29.620165  50928
<class 'pandas.core.frame.DataFrame'>
Index: 9029 entries, 26 to 11126
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       9029 non-null   object
 1   Nombre del país                      9029 non-null   object
 2   Región                               9029 non-null   object
 3   Año                                  9029 non-null   int64
 4   CO2 (kt)                             9029 non-null   object
 5   CO2 per cápita (toneladas métricas)  9029 non-null   float64
 6   hash                                 9029 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 564.3+ KB

In [53]:
df_pais = df.copy(['hash', 'Código de país', 'Nombre del país', 'Región'])
df_pais.drop_duplicates(subset=['hash', 'Código de país', 'Nombre del país', 'Región'], inplace=True, keep='first')
print(df_pais.info())

<class 'pandas.core.frame.DataFrame'>
Index: 199 entries, 26 to 11079
Data columns (total 7 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Código de país                       199 non-null    object
 1   Nombre del país                      199 non-null    object
 2   Región                               199 non-null    object
 3   Año                                  199 non-null    int64
 4   CO2 (kt)                             199 non-null    object
 5   CO2 per cápita (toneladas métricas)  199 non-null    float64
 6   hash                                 199 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 12.4+ KB
None

In [54]:
df.drop(columns=['Código de país', 'Nombre del país', 'Región'], inplace=True)
df_pais.merge(df, on='hash')

,Código de país,Nombre del país,Región,Año_x,CO2 (kt)_x,CO2 per cápita (toneladas métricas)_x,hash,Año_y,CO2 (kt)_y,CO2 per cápita (toneladas métricas)_y
0,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,50928,1986,"179,683",2.868319
1,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,50928,1987,"447,374",7.234964
2,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,50928,1988,"612,389",10.026508
3,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,50928,1989,"649,059",10.634733
4,ABW,Aruba,América Latina y Caribe,1986,"179,683",2.868319,50928,1990,"1.840,83",29.620165
...,...,...,...,...,...,...,...,...,...,...
9051,ZWE,Zimbabue,África subsahariana,1964,"4.473,74",1.045374,52493,2007,"9.732,22",0.731867
9052,ZWE,Zimbabue,África subsahariana,1964,"4.473,74",1.045374,52493,2008,"7.682,37",0.569255
9053,ZWE,Zimbabue,África subsahariana,1964,"4.473,74",1.045374,52493,2009,"8.239,75",0.600521
9054,ZWE,Zimbabue,África subsahariana,1964,"4.473,74",1.045374,52493,2010,"9.028,15",0.646073
9055,ZWE,Zimbabue,África subsahariana,1964,"4.473,74",1.045374,52493,2011,"9.860,56",0.691698

In [55]:
df.to_csv('output.csv')